@model Solutions.Models.Module

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        <h1><strong>@Html.DisplayFor(model => model.Name)</strong></h1>
      @if (Model.Courses.Count > 0)
      {
        foreach (var course in Model.Courses)
        {
            <h2>
                @Html.ActionLink(string.Format($"{course.Name}"), // ({course.Chapters.Count})
                        "ListChapters", "Home", new { @courseId = course.Id }, null)
            </h2>

        }
      }

    </div>
</div>
<hr />

