@model Solutions.Models.Course

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
       <h1><strong>@Html.DisplayFor(model => model.Name)</strong></h1>
@if (Model.Chapters.Count > 0)
{
        foreach (var chapter in Model.Chapters)
        {
            <h2>
                @Html.ActionLink(string.Format($"{chapter.Title} "), //({chapter.Posts.Count})
                     "ListPosts", "Home", new { @chapterId = chapter.Id }, null)
            </h2>

        }
}
    </div>
</div>
<hr />