@model List<Solutions.Models.Chapter>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        @foreach (var chapter in Model)
        {
            <h2>
               @Html.ActionLink(@chapter.Title, "Details", "Chapter", new { @id = chapter.Id }, null)
            </h2>

        }
    </div>
</div>
<hr />